@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}
/* **************************************  NAVBAR   *********************************** */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: darkorange;
  display: flex;
  padding: 10px 8%;
}
nav .brand {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
nav ul {
  position: absolute;
  right: 0%;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

nav .menu_bar {
  font-size: 20px;
  position: absolute;
  right: 5%;
  margin-right: 1rem;
  display: none;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    position: absolute;
    left: -100%;
    background-color: darkorange;
    width: 100%;
    transition: all 0.2s ease-out;
  }
  nav ul li {
    padding: 10px 8%;
    width: 100%;
    display: block;
  }
  nav .menu_bar {
    display: block;
  }
}
nav ul.show {
  left: 0;
}
/* *****************************************  HOME  */
#Home {
  margin-top: 3rem;
  padding: 5rem;
  width: 100%;
  min-height: 88vh;
}
#Home #NameDetail p {
  font-weight: 600;
  font-size: 3rem;
  margin: -5px 0;
}
#Home #NameDetail #qulify {
  font-weight: 400;
  font-size: 2.5rem;
}
@media only screen and (max-width: 576px) {
  #Home #NameDetail {
    margin-bottom: 1.5rem;
  }
  #Home #NameDetail p {
    font-weight: 600;
    font-size: 1.8rem;
    margin: -1px 0;
  }
  #Home #NameDetail #qulify {
    font-weight: 400;
    font-size: 1.2rem;
  }
}

#Home #ImageDetail {
  max-width: 100%;
  height: auto;
}
#Home #ImageDetail img {
  margin-top: 1rem;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* *****************************************  ABOUT  */
#About {
  padding: 4rem 0;
}
#About #aboutTitle,
#Skill #skillTitle,
#Project #projectTitle,
#Resume #resumeTitle,
#Contact #contactTitle {
  font-size: 2rem;
  font-weight: 700;
  color: darkorange;
}
#About #content p {
  text-align: justify;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.3rem;
  letter-spacing: 1.2px;
}

/* *******************************************  SKILL  ************************** */
#Skill {
  margin: 3rem 0;
  padding: 2rem 0;
}
#Skill #skills .point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem !important;
  background-color: #fff;
  width: 130px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#Skill #skills .point:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#Skill .point img {
  width: 75%;
  height: 80%;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  transform: scale(0.9);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#Skill .point p {
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
}
#Skill .point span {
  font-size: 14px;
  font-weight: 500;
  margin-top: -17px;
}
/* *******************************************   PROJECTS   ******************************* */
#Project {
  margin: 3rem 0;
  padding: 2rem 0;
}
#Project #projectContainer .card {
  border: 2px solid darkorange;
  height: 350px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  #Project #projectContainer .card {
    border: 2px solid darkorange;
    height: 400px;
    position: relative;
  }
}
#Project #projectContainer .card span i {
  font-size: 22px;
  cursor: pointer;
}
#Project #projectContainer .card .projectName {
  font-size: 20px;
  font-weight: 700;
}
#Project #projectContainer .card .projectDetail {
  font-size: 14px;
  color: #171515;
  font-weight: 600;
  text-align: justify;
}
#Project #projectContainer .card .projectDetail ul {
  list-style: none;
}

#Project #projectContainer .card button {
  color: #fff;
  position: absolute;
  bottom: 15px;
  background-color: darkorange;
  font-size: 18px;
  font-weight: 600;
  margin: 0 28%;
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.hide {
  display: none;
}
/* ************************************************** RESUME     */
#Resume {
  margin: 2rem 0;
  padding: 4rem 0;
}
#Resume #resumeContainer a {
  border: darkorange 2px solid;
  border-radius: 25px;
  padding: 10px 15px;
  color: darkorange;
  background-color: #fff;
  font-weight: 600;
  text-decoration: none;
}
/* ********************************************** CONTACT ************* */
#Contact {
  margin: 2rem 0;
  padding: 2rem 0;
}
#Contact #contactContainer i {
  font-size: 25px;
}
#Contact #contactContainer #SocialMedia #instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#SocialMedia #linkedin {
  color: #0077b5;
}
#SocialMedia #github {
  color: #171515;
}
#contactList #whatsapp {
  color: #075e54;
  font-weight: 700;
}
#contactList #gmail {
  color: #ea4334;
}
#Contact #contactContainer p {
  font-size: 18px;
  margin-top: -3px;
  font-weight: 600;
}

#scrollTopBtn {
  display: none;
  z-index: 99;
  background-color: darkorange;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: 2px darkorange solid;
  padding: 8px 15px;
  position: fixed;
  right: 30px;
  bottom: 20px;
  border-radius: 55%;
}
#scrollTopBtn:hover {
  background-color: #fff;
  color: darkorange;
}
